@font-face {
    font-family: "Gotham Pro";
    src: url(fonts/GothamPro/GothamPro.woff) format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(fonts/GothamPro/GothamPro-Italic.woff) format("woff");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(fonts/GothamPro/GothamPro-Bold.woff) format("woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(fonts/GothamPro/GothamPro-BoldItalic.woff) format("woff");
    font-style: italic;
    font-weight: 700;
}

.header_info__other {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 17px;
}