.main
    font-family: "Gotham Pro"
    display: flex
    justify-content: center
    padding-top: 120px
    padding-bottom: 40px
    border-bottom: 1px solid #e7e7e7
    background: #f7f9fb

    &__left-block
        width: 850px
        margin-right: 40px
        display: flex
        flex-direction: column

    &__right-block
        width: 290px
        display: flex
        flex-direction: column

.newpost
    background-color: #ffffff
    box-sizing: border-box
    height: 135px
    padding-left: 30px
    padding-right: 30px
    padding-top: 25px
    margin-bottom: 25px

    &__caption
        padding-bottom: 20px
        border-bottom: 1px solid #F4F4F4

    &__message
        padding-top: 21px
        display: flex
        justify-content: space-between

    &__input
        border: none
        font-size: 18px
        line-height: 17px
        color: rgba(24, 24, 24, 0.2)
        font-family: "Gotham Pro"

    &__input:active, :hover, :focus
        outline: 0

    &__buttons
        margin-left: 30px

.sort
    display: flex
    justify-content: center
    margin-bottom: 34px

    &__line
        border: 1px solid #E7E7E7
        height: 0px
        width: 330px

    &__text
        font-size: 12px
        color: #181818
        font-weight: bold
        text-transform: uppercase
        margin-left: 20px

    &__select
        font-size: 12px
        color: #181818
        font-weight: bold
        text-transform: uppercase
        color: #0275B1
        outline: none
        border: none
        background: #f7f9fb
        margin-right: 20px
        width: 87px


.button__like
    background-color: #fff
    border: 1px solid #f4f4f4
    display: flex
    align-items: center
    padding-right: 30px
    padding-left: 30px
    cursor: pointer



